MONGODB_URI=mongodb+srv://sarkar_app:YOUR_PASSWORD@cluster0.dcnjbko.mongodb.net/sarkar_garage?retryWrites=true&w=majority
MONGODB_DB=sarkar_garage
CLOUDINARY_CLOUD_NAME=dlq5khrl3
CLOUDINARY_API_KEY=741783867965388
CLOUDINARY_API_SECRET=YOUR_CLOUDINARY_SECRET
ADMIN_USERNAME=owner
ADMIN_PASSWORD=YOUR_OWNER_PASSWORD
ADMIN_SECRET=YOUR_LONG_RANDOM_SECRET
SELLER_WHATSAPP=917499665959
